@media (max-width: 989px){
    .form-label{
        font-size: 15px;
    }
}

@media(max-width: 1070px){
    .container{
        flex-direction: column;
    }
    .form-label{
        width: 100% !important;
        font-size: 19px;
    }
    .form-control{
        width: 100% !important;
    }
    .optional{
        font-size: 20px;
    }
    .qaz{
        width: 100% !important;
        margin: 5px 0;
    }
    .info-div{
        width: 100% !important;
        margin: 2px 0 !important;
        padding-left: 0!important;
    }
    .details{
        flex-direction: column !important;
        width: 100% !important;
        align-items: center !important;
        margin: 5px 0;
        height: 75px !important;
    }
    .customerId{
        flex-direction: row !important;
    }
}

@media(max-width: 550px){
    .text-success{
        padding-left: 14px !important;
    }
    .container{
        width: 95% !important;
    }
    .alert{
        width:85% !important;
    }
    .confirm{
        right: 2% !important;
    }
}
@media(min-width: 550px) and (max-width:710px){
    .confirm{
        right: 10% !important;
        width: 75% !important;
    }
}